<div class="container">
  <h4><%= link_to "", new_question_path, id: "new_link", remote: true %></h4>
</div>

<!-- <div class="container" id: "new_link"></div> -->


<div class="panel panel-default">
  <div class=" panel-heading">
    <h1>Questions</h1>
  </div>
  <div class="panel-body">
    <ul id="questions_list">
      <%= render @questions %>
    </ul>
  </div>
</div>
